<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>notice_detail</title>
    <link href="../../static/Grade_ws/css/templatemo_style.css" rel="stylesheet">
    <link href="../../static/Grade_ws/layui/css/layui.css" rel="stylesheet">
    <link href="../../static/Grade_ws/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/Grade_ws/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/Grade_ws/css/templatemo_misc.css">
    <link rel="stylesheet" href="../../static/Grade_ws/css/nivo-slider.css">
    <link rel="stylesheet" href="../../static/Grade_ws/css/slimbox2.css" type="text/css" media="screen"/>
    <script type="text/javascript" src="../../static/Grade_ws/js/jquery.min.js"></script>
    <script type="text/JavaScript" src="../../static/Grade_ws/js/slimbox2.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/Grade_ws/css/ddsmoothmenu.css"/>
    <script type="text/javascript" src="../../static/Grade_ws/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/Grade_ws/js/ddsmoothmenu.js"></script>
</head>
<body>
<!--======================头部==================-->
<div id="templatemo_home">
    <div class="templatemo_top">
        <div class="container templatemo_container">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="logo">
                        <a href="#"><img src="../../static/Grade_ws/images/templatemo_logo.png"
                                         alt="smoothy template mo"></a>
                    </div>
                </div>

                <div class="col-sm-3 col-md-3">
    <div class="dropdown">
        <button class="dropbtn glyphicon glyphicon-user"></button>
        <div class="dropdown-content">
            <a href="../../Individual_ws/index" style="text-decoration: none;color: black">个人主页</a>
            <a href="#" style="text-decoration: none;color: black">完善个人信息</a>
            <a href="../../Official_ws/login/" style="text-decoration: none;color: black">退出</a>
        </div>
    </div>
    <div class="temperture">今日气温18°至34° 多云</div>
</div>


                <div class="col-sm-6 col-md-6 templatemo_col6">
                    <div id="top-menu">
                        <nav class="mainMenu">
                            <ul class="nav">
                                <li><a class="menu" href="../index/" target="_blank">班级主页</a></li>
                                <li><a class="menu" href="../index/" target="_blank">校友圈</a></li>
                                <li><a class="menu" href="../index/" target="_blank">班级相册</a></li>
                                <li><a class="menu" href="../index/" target="_blank">课表查询</a></li>
                                <li><a class="menu" href="../index/" target="_blank">课程推荐</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--==========================中部====================-->
<div class="detail-img">
    <a href="#"><img src="../../static/Grade_ws/images/heading_bg.png" alt="slide 1"/></a>
</div>
<!--===============================公告内容========================-->
<div class="detail">
    <div class="d-title">
        公告标题
    </div>
    <div class="d-author">
        <div class="d-a-1">发布人：</div>
        <div class="d-a-2">发布时间：</div>
    </div>
    <div class="d-text">
        公告内容
    </div>
</div>
</body>
</html>